<%- include('includes/head') %>

    <h1>Cadastro consulta</h1>
    <hr>
    <form action="/create" method="post">
        <input type="text" name="name" id="name" placeholder="Nome do paciente" class="form-control">
        <input type="email" name="email" id="email" placeholder="email@email.com" class="form-control">
        <input type="text" name="cpf" id="cpf" placeholder="CPF" class="form-control cpf">
        <input type="text" name="description" id="description" placeholder="descrição" class="form-control">
        <input type="date" name="date" id="date" placeholder="05/09/2022" class="form-control">
        <input type="time" name="time" id="time" class="form-control mb-2">
        <button class="btn btn-success">Agendar</button>
    </form>

    <%- include('includes/messages') %>

<%- include('includes/footer') %>
