<%- include('includes/head') %>

    <div id="calendar">

    </div>

<%- include('includes/messages') %>

<script src="main.js"></script>

<script>
    const element = document.getElementById('calendar')
    const calendar = new FullCalendar.Calendar(element, {
        initialView: 'dayGridMonth',
        locale: 'pt-br',
    })
    calendar.render()
</script>

<%- include('includes/footer') %>
